{block content}
    <h2>Seznam konferencí</h2>
    {control conferenceGrid}

    <!-- Tlačítko pro přidání nové konference - přesměruje na novou stránku -->
    <a href="{link 'Conference:create'}" class="btn btn-sm btn-success">Přidat novou konferenci</a>

{/block}
